.containerA{
    z-index: 2;
    position: relative;
    width: 850px;
    height: 550px;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    margin: 20px;
    overflow: hidden;
    
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255);
    justify-content: center;
    text-align: center;  
    color: #667eea; 
    padding: 40px;
    border-radius: 40px;
    z-index: 2;
    transition: 0.6s, ease-in-out 1.2s, visibility 0s 1s;
}

.containerA.active .form-box{
    right: 50%;
}

.form-box.register {
    visibility: hidden;
}

.containerA.active .form-box.register {
    visibility: visible;
}


form {
    width: 100%;
}

.container h1 {
    font-size: 36px;
    margin: 10px 0;
}

.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    background-color: rgb(229, 224, 224);
    width: 100%;
    padding: 13px 50px 13px 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #667eea;
    font-weight: 550;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.forgot-link {
    margin: -15px 0 15px;
}

.forgot-link a{
    font-size: 12px;
    color: #4b4b4b;
    text-decoration: none;
}

.btn {
    border: none;
    width: 100%;
    height: 48px; 
    font-size: 14px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    margin: 0 0 15px;
    color: white;
    font-weight: 600 ;
    cursor: pointer;
    border-radius: 8px;
}

.containerA p {
    font-size: 14px;
    margin: 15px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-flex;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  margin: 0 8px;
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle-box::before {
    content: "";
    position: absolute;
    left: -250%;
    width: 300%;
    background-color: #764ba2;
    height: 100%;
    border-radius: 150px;
    z-index: 2;
    transition: 1.8s ease-in-out;
}

.containerA.active .toggle-box::before {
    left: 50%;
}

.toggle-panel {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Guest {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.toggle-panel.toggle-left {
    left: 0;
    transition-delay: 1.2s;
}

.containerA.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: 0.6s;
}

.toggle-panel.toggle-right {
    right: -50%;
    transition-delay: 0.6s;
}

.containerA.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: 1.2s;
}

.toggle-panel p {
    margin-bottom: 20px;
}

.toggle-panel .btn {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid white ;
    box-shadow: none;
}
