.header {
    position: fixed;
    top: 10px;
    left: 5px;
    right: 5px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
}

.nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    max-width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.logo {
    font-size: 26px;
    font-weight: 800;
    text-decoration: none;
    background: linear-gradient(to left, #764ba2, #667eea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #f093fb;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #f093fb;
}

.nav-links a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {

    .nav-links {
        display: none;
    }

}